{% extends "legal.html" %}

{% block legal_content %}
    <h2>1. Información que recopilamos</h2>
    <p>En SHIORI valoramos tu privacidad. Solo recopilamos los datos estrictamente necesarios para el funcionamiento de la cuenta:</p>
    <ul>
        <li><strong>Nombre de usuario:</strong> Para identificarte en la comunidad.</li>
        <li><strong>Correo electrónico:</strong> Para la recuperación de contraseña y gestión técnica.</li>
        <li><strong>Imagen de perfil:</strong> Solo si decides subirla voluntariamente.</li>
    </ul>
    
    <h2>2. Uso de la Información</h2>
    <p>Tus datos nunca serán vendidos ni cedidos a terceros. Se utilizan exclusivamente para personalizar tu experiencia, gestionar tus listas de seguimiento y permitirte interactuar con el sistema de reseñas.</p>
    
    <h2>3. Seguridad</h2>
    <p>Implementamos medidas de seguridad técnicas (como el cifrado de contraseñas mediante hashing) para proteger tus datos personales contra accesos no autorizados.</p>
{% endblock %}
