.cast-page-container {
    margin-bottom: 20px;
    width: 100%;
}


.collection-section {
    margin-bottom: clamp(40px, 6vw, 65px);
}

.section-title {
    font-size: clamp(1.3rem, 2.5vw, 1.8rem);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 15px;
}

.title-main-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title-main-info i {
    color: var(--primary);
}

.title-main-info span {
    color: rgba(255, 255, 255, 0.3);
    font-size: clamp(0.65rem, 2vw, 0.9rem);
    font-weight: 400;
}

.empty-msg-collection {
    color: var(--text-muted);
    padding: 40px;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 20px;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: 10px 0;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.1rem;
}

.empty-msg-collection i {
    font-size: 2.5rem;
    opacity: 0.2;
}



.view-all-link {
    font-size: clamp(0.55rem, 3.5vw, 0.9rem);
    font-weight: 600;
}

@media (max-width: 600px) {
    .section-title {
        font-size: clamp(0.65rem, 5vw, 1.25rem) !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 15px;
        gap: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .title-main-info {
        gap: 8px;
    }

    .empty-msg-collection {
        padding: 25px;
        font-size: 0.9rem;
    }

    .empty-msg-collection i {
        font-size: 1.8rem;
    }
}