.content-section {
    margin-bottom: 30px;
}

.content-section:last-of-type {
    margin-bottom: 20px;
}

.content-section h2 {
    margin-bottom: 0px;
}

.filter-controls {
    display: flex;
    gap: 12px;
}

.filter-btn {
    text-decoration: none;
    color: var(--text-muted);
    background: #111;
    padding: 10px 22px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    transition: var(--transition);
    border: 1px solid #222;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

@media (hover: hover) and (pointer: fine) {
    .filter-btn:hover {
        background: #1a1a1a;
        color: var(--text-main);
        border-color: #333;
    }
}

.filter-btn.active {
    background: var(--primary-gradient);
    border-color: transparent;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(255, 69, 0, 0.3);
}

.carousel-loader {
    width: 100%;
    height: 350px;
    background: transparent;
    border-radius: 28px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgba(255, 69, 0, 0.3);
}

@media (max-width: 750px) {
    .prime-header { margin-top: 20px; }
    .carousel-loader { height: 250px; }
    .filter-controls { justify-content: center; flex-wrap: wrap; width: 100%; gap: 10px; }
    .filter-btn { 
        padding: 8px 18px; 
        font-size: 13px;
        width: auto !important;
        min-width: 100px;
    }
}